<mat-nav-list role="list">
  <mat-list-item role="listitem">
    <a matLine routerLink="/admin"> Dashboard </a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a matLine routerLink="customers"> Customers </a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a matLine routerLink="orders"> Orders </a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a matLine routerLink="products"> Products </a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a matLine routerLink=""> Siteyi Gör </a>
  </mat-list-item>
</mat-nav-list>